<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Danh sách sách</title>
  </head>
  <body>
    <h1>📚 Danh sách thể loại</h1>
    <div class="d-flex">
      <table border="1">
        <thead>
          <tr>
            <th>ID</th>
            <th>Tên thể loại</th>
            <th>Mô tả</th>
            <th colspan="2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="category : ${categories}">
            <td th:text="${category.id}">ID</td>
            <td th:text="${category.name}">Tên</td>
            <td th:text="${category.description}">Mô tả</td>
            <td>
              <button>
                <a th:href="@{/categories/edit/{id}(id=${category.id})}" class="btn btn-primary">Edit</a>
              </button>
              <button>
                <a th:href="@{/categories/delete/{id}(id=${category.id})}" class="btn btn-primary">Delete</a>
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-primary"><a style="text-decoration: none" href="/categories/create/">Tạo thể loại Mới</a></button>
    </div>
  </body>
</html>
